<div class="row">
   <div class="col">

      <h1>Log In</h1>
      
      <%= form_tag("/session", method: :post) do %>
        <div class="form-group">
          Email
          <input type="email" name="email" placeholder="user@example.com">
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Log in</button>
            <%= link "Register", to: user_path(@conn, :new) %>
          </div>
       <% end %>



   </div>
</div>